body{
    margin: 0;
    padding: 0;
    background-image: url(/assets/img/arene-min.jpg);
    background-repeat: no-repeat;
    color: #FFCC01;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    color: #f0f0f0;
    font-style: oblique;
}
#buttonstart{
    display: flex;
    padding: 50px;
    justify-content:center;
}
#buttonuser{
    font-size:80px;
    border: none;
    background: none;
    cursor: pointer; 
    transition: transform 400ms;
    &:hover{
        transform: scale(1.50);
    }
}
img{
    width:130px;
    height:130px;
}
#buttonreset{
    justify-content: center;
    display: flex;
    background: none;
}
#reset{
    background: none;
    border: none;
    color: black;
    transition: transform 400ms;
    &:hover{
        transform:scale(1.50);
    }
}
#wins{
    font-size: x-large;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    font-style: italic;
}
#grolem, #mystherbe, #insecateur{
    border:none;
    background: none;
    cursor: pointer;
    transition: transform 450ms;
    &:hover{
        transform:scale(1.30);
    }
}
#result, #choicecomputer{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
#result{
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
}
#scoreplayer, #scorecomputer{
    color: white;
    font-size: 35px;
    text-align: center;
    font-weight: 750;
}